/* html{
  background-color: rgb(134, 88, 55);
} */

.container-nav-menu{
  /* background-color: transparent; */
  /* background-color: rgb(96, 172, 243); */
  background: linear-gradient(25deg, #4b2d7c, #0da7ef7c);
  width: 80%;
  margin: 0 auto;
  border-radius: 10px;
  margin-top: 10px;
  height: 70px;
  display: flex;
  justify-content:space-between;
  align-items: center;
}

.nav-logo--container{
  position: relative;
  left: calc(10% - 50px);
  text-decoration: none;
  bottom: 16px;
}

.logo-text{
  font-size: 10rem;
  font-family: "vorname";
  text-decoration: none;;
}

.nav-logo--container label a{
  text-decoration: none;
  color: whitesmoke
}

.btn-menu img{
  display: none;
}

.nav-items{
  position: relative;
  top: 0;
  float: right;
  text-align: right;
  height: 23px;
  background: none;
transition: none;
}

.nav-items li{
  display: inline-block;
  opacity: 1;
  margin: 0 20px;
  text-decoration: none;
}

.nav-items li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.nav-items li a:active,
.nav-items li a:hover {
  color: rgb(239, 241, 243)
}

main{
  width: 80%;
  margin: 0 auto;
  margin-top: 50px;
 
}

.main-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}