/* 
1. Posicionamiento
2. Modelo de caja (Box Model) -- margin, padding --
3. Tipografia (position)
4. Visuales (Shadow box, border radius)
5. Miscelanios o otros
Project Mobile First.......
Software Developer Bruno Maldonado Rigoberto 
Contact brunoutl@gmail.com
*/



*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root{
  --black: #282623;
  --just-white: #FFFFFF;
}

html{
  background-color: rgb(134, 134, 177);
  background-image: url(../images/0008.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 62.5%;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}


@font-face {
  font-family: "designer";
  src: url("../fonts/designer/DESIGNER.otf") format('truetype');
}

@font-face {
  font-family: "vorname";
  src: url("../fonts/vorname/Vorname.otf") format('truetype');
}

/* START MENU BAR */

header {
  width: 100%;
  height: 50px;

  /* background-color: #2F2F2F; */
  /* background: linear-gradient(25deg, #a0d9db, #69eaf3); */
  background-image: url(../images/0008.jpg);
  background-size: cover;
  position: fixed;
  z-index: 999;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


.content a{
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}


.logo {
  color: #0f0f0f;
  text-transform: uppercase;
  text-decoration: none;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 4rem;
  font-weight: 900;
  /* font-size: 60px;
  font-family: "vorname"; */
  /* position: relative;
  top: 2px; */
}

.toggler img{
  color: #0d0d0e;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 20px;
  width: 25px;
}

/* START NAVIGATION */
nav {
  width: 100%;
  display: none;
  /* background-color: #436066; */
  background: linear-gradient(25deg, #cbe8e9, #69d3f3);
  background-image: url(../images/11731.jpg);
  background-size: cover;
}

nav ul {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  list-style: none;
  
}

nav ul li a {
  text-decoration: none;
  color: #141414;
  font-size: 18px;
  line-height: 40px;
  transition: 0.3s ease-out;
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 600;

}

nav ul li a:hover {
  color: #0e0ae2;
}

.active {
  color: #141414;
}

main{
  height: 100vh;
}

.main-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  top: 55px;
}

.main-container--card{
  width: 90%;
  min-width: 288px;
  max-width: 400px;
  min-height: 152px;
  margin: 15px auto;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.61);
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.main-container--card .card-icon {
  width: 30px;
  height: 30px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.main-container--icons{
  display: flex;
  flex-direction: row;
  float: right;
  gap: 5px;
}

.main-container--card .triangle {
  background-image: url(../assets/triangleone.svg);
}
.main-container--card .square {
  background-image: url(../assets/cubo.svg);
}
.main-container--card .circle {
  background-image: url(../assets/dragoncircle.svg);
}
.main-container--card .discount {
  background-image: url(../assets/discount.png);
}
.main-container--card .histogram {
  background-image: url(../assets/histogram.png);
}

.container--card-title {
  font-size: 1.8rem;
  font-weight: bold;
  font-style: normal;
  line-height: 1.8rem;
  color: #3b3b39;
  margin-top: 10px;
  margin-bottom: 20px;
}

.container--card-body {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #0c0c0c;
}

.main-container--card .container--card-button{
  border: none;
  cursor: pointer;
  border: 2px solid rgba(231, 223, 207, 0.616);
  border-radius: 10px;
  padding: 5px;
  margin-top: 15px;
}

.main-container--card .container--card-button a{
  font-weight: bold;
  text-decoration: none;
  color: #282623;
}

footer{
  /* width: 100%; */
  text-align: center;
  padding: 10px;
  font-size: 1.4rem;
  font-weight: 600;
}