header{
  width: 90%;
  height: 55px;
  margin: 0 auto;
  border-radius: 20px;
  position: relative;
  top: 10px;
}

.content a{
  height: 55px;

  display: flex;
  justify-content: left;
  align-items: center;
  text-align: left;
}

.logo {
  color: #141414;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 80px;
  position: relative;
  left: 20px;
  bottom: 7px;
}

.toggler {
  display: none;
}

nav {
  display: inline-block !important;
  position: relative;
  bottom: 55px;
  width: auto;
  float: right;
  background-color: transparent;
  border-radius: 20px;
  /* background: linear-gradient(25deg, #cbe8e9, #69d3f3); */
  background-image: url(../images/0008.jpg);
  background-size: cover;
}

nav ul {
  display: flex;
  flex-direction: row;
}

nav ul li {
  /* display: inline-block; */
  padding-right: 20px;
  transition: all .5s;
}

.main-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  left: 0;
  right: 0;
  margin-top: 25px;
}

.main-container--card .card-icon {
  width: 30px;
  height: 30px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.main-container--icons{
  display: flex;
  flex-direction: row;
  float: right;
  gap: 5px;
}

footer{
  width: 100%;
  text-align: center;
  padding: 13px;
  font-size: 1.6rem;
  font-weight: 800;
}