*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    background-color: rgb(142, 162, 167);
}
main{
    text-align: center;
}
.form-container{
    max-width: 360px;
    min-width: 320px;
    margin: 0 auto;
}
.form-card--title{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.form-card--container__box{
    margin: 0 auto;

}

.form-card--container{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
}

.form-container--result{
    height: 25px;
    line-height: 2;
    margin-bottom: 8px;
}
.form-card--container--saveMoney{
    display: flex;
    flex-direction: column;
}
.form-card--container--saveMoney{
    margin: 8px;
}