header {
    width: 90%;
    border-radius: 10px 0px 10px 0px;
    position: relative;
    top: 10px;
    padding: 2px;
}

.content {
    display: flex;
    flex-direction: row;
}

header .logo {
    padding-left: 10px;
    color: #000;
}

nav .nav-menu {
    /* display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    height: 2vh;
    opacity: 1;
    z-index: 1;
    background-image: none; */
    display: flex;
    flex-direction: row;
    justify-content: end;
    height: auto;
    opacity: 1;
    z-index: 1;
    background-image: none;
}

nav .nav-menu li {
    padding-top: 0px;
    padding-right: 20px;
    transition: all .5s;
}

nav .navbar-toggle {
    display: none;
}

main {
    padding-top: 52px;
}


.main-title {
    display: flex;
    justify-content: center;
    margin-bottom: 35px;
    font-size: 2.2rem;
}

.form-container {
    max-width: 560px;
}

.form-container--title {
    font-size: 1.8rem;
}

input[type="number"] {
    font-size: 1.6rem;
}

.form-container--input {
    width: 110px;
}

.form-container--shownumber {
    font-size: 1.8rem;
    line-height: 1;
}

.form-container--button {
    width: 70px;
    font-size: 1.6rem;
}

.form-container--output {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.form-container--card {
    border: 2px solid rgb(234, 247, 234);
    width: 160px;
    height: 75px;
}

.form-container--card span {
    font-size: 1.6rem;
}

.form-container--result {
    font-size: 3.8rem;
    text-align: left;
    position: relative;
    left: 25px;
}

.form-container--result__element {
    display: block;
    font-size: 1.8rem;
    text-align: center;
    position: relative;
    left: 35px;
    bottom: 22px;
    color: rgb(2, 31, 31);
    font-weight: 700;
}

footer {
    width: 100%;
    text-align: center;
    padding: 13px;
    font-size: 1.6rem;
    font-weight: bold;
}