header {
    width: 90%;
    height: 55px;
    margin: 0 auto;
    border-radius: 20px;
    position: relative;
    top: 10px;
}

.content a {
    height: 55px;

    display: flex;
    justify-content: left;
    align-items: center;
    text-align: left;
}

.logo {
    color: #141414;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 5rem;
    /* font-size: 80px; */
    position: relative;
    left: 20px;
    /* bottom: 7px; */
}

.toggler {
    display: none;
}

nav {
    display: inline-block !important;
    position: relative;
    bottom: 55px;
    width: auto;
    float: right;
    background-color: transparent;
    border-radius: 20px;
    /* background: linear-gradient(25deg, #cbe8e9, #69d3f3); */
    background-image: url(../images/0008.jpg);
    background-size: cover;
}

nav ul {
    display: flex;
    flex-direction: row;
}

nav ul li {
    /* display: inline-block; */
    padding-right: 20px;
    transition: all .5s;
}

.main-title {
    display: flex;
    justify-content: center;
    width: 65%;
    margin-top: 45px;
    margin-bottom: 35px;
    font-size: 2.2rem;
}

.form-container {
    max-width: 400px;
}

.form-container--title {
    font-size: 2rem;
}

input[type="number"] {
    font-size: 2rem;
}

.form-container--input {
    width: 110px;
    font-size: 2rem;
}

.form-container--shownumber {
    font-size: 2rem;
    line-height: 1;
}

.form-container--button {
    width: 70px;
    font-size: 1.8rem;
}

.form-container--card {
    border: 2px solid rgb(234, 247, 234);
    width: 160px;
    height: 75px;
}

.form-container--card span {
    font-size: 1.6rem;
}

.form-container--result {
    font-size: 3.8rem;
    text-align: left;
    position: relative;
    /* top: 1px; */
    left: 25px;
}

.form-container--result__element {
    display: block;
    font-size: 1.8rem;
    text-align: center;
    position: relative;
    left: 35px;
    bottom: 22px;
    color: rgb(2, 31, 31);
    font-weight: 700;
}

footer{
    width: 100%;
    text-align: center;
    padding: 13px;
    font-size: 1.8rem;
    font-weight: bold;  
  }