
html {
  background-size: cover;
}
header{
  width: 80%;
  position: relative;
  top: 5px;
  padding: 3px;
}

/* main {
  margin-bottom: 170px;
} */

.main-container {
  display: grid;
  grid-template-columns: repeat(2, minmax(320px, 375px));
}

.main-container--card {
  margin: 6px 6px;
}


