header{
  width: 90%;
  border-radius: 10px 0px 10px 0px;
  /* position: relative; */
  position: fixed;
  left: 0;
  right: 0;
  margin: auto;
  top: 10px;
  padding: 2px;
}

.content {
  display: flex;
  flex-direction: row;
}

header .logo {
  color: #e90202;
  text-transform: uppercase;
  text-decoration: none;
  /* font-size: 4rem; */
  padding-left: 10px;
}

nav .nav-menu {
  display: flex;
  flex-direction: row;
  justify-content: end;
  height: 0vh;
  opacity: 1;
  z-index: 1;
}

nav .nav-menu li {
  padding-top: 0px;
  padding-right: 20px;
  transition: all .5s;
}

nav .navbar-toggle {
  display: none;
}

main  {
  padding-top: 60px;
}
.main-container--card .card-icon {
  width: 30px;
  height: 30px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.main-container--icons{
  display: flex;
  flex-direction: row;
  float: right;
  gap: 5px;
}

footer{
  text-align: center;
  padding: 13px;
  font-size: 1.6rem;
  font-weight: 800;
}