header{
  width: 80%;
  top: 5px;
}

.header--title-container {
  font-size: 3.6rem;
}

.main_container {
  /* display: grid;
  grid-template-columns: 1fr 1fr;
  place-content: center;
  gap: 8px; */
  display: flex;
  flex-wrap: wrap;
  margin-top: 13px
  /* border: 1px solid red; */
}

.main-container--card {
  width: 420px;
}

/* .menu-options {
  display: none;
} */
