header{
  width: 80%;
  height: 60px;
  margin: 0 auto;
  border-radius: 20px;
  position: relative;
  top: 10px;
}

.content a{
  height: 60px;
  display: flex;
  justify-content: left;
  align-items: center;
  text-align: left;
}

.logo {
  color: #0b0c0c;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 90px;
  position: relative;
  left: 20px;
  padding-bottom: 18px;
}

.toggler {
  display: none;
}

nav {
  display: inline-block !important;
  position: relative;
  bottom: 60px;
  width: auto;
  float: right;
  background-color: transparent;
}

nav ul {
  display: flex;
  flex-direction: row;
}

nav ul li {
  /* display: inline-block; */
  margin-right: 25px;
  transition: all .5s;
}
/* end nav menu -------------------------*/


.header--title-container h1 {
  font-family: "designer";
  font-size: 3.6rem;
  font-weight: 800;
  margin: 5px 0px 35px 0px;
}

.menuButtons {
  font-size: 1.3rem;
  width: 90px;
  margin: 8px;
  padding: 8px;
}

main{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items:flex-start;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 2000px;
}

.main-container{
  max-width: 400px;
}

#square-content, #triangle-content, #circle-content{
  position: relative;
}

footer{
  width: 100%;
  text-align: center;
  padding: 20px;
  font-size: 2rem;
}