* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  background-color: rgb(58, 56, 54);
  font-family: 'Poppins', sans-serif;
  background-image: url(../images/0008.jpg);
   background-size: cover;
  background-repeat: no-repeat;
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

@font-face {
  font-family: "designer";
  src: url("../fonts/designer/DESIGNER.otf") format('truetype');
}

@font-face {
  font-family: "vorname";
  src: url("../fonts/vorname/Vorname.otf") format('truetype');
}

/* START MENU BAR */

header {
  width: 100%;
  height: 50px;
  /* background-color: #2F2F2F; */
  /* background: linear-gradient(25deg, #a0d9db, #69eaf3); */
  background-image: url(../images/0008.jpg);
  background-size: cover;
  position: relative;
  /* position: fixed; */
  z-index: 999;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


.content a{
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}


.logo {
  color: #0f0f0f;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 70px;
  font-family: "vorname";
  position: relative;
  top: 2px;
}

.toggler img{
  color: #0d0d0e;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 20px;
  width: 25px;
}

/* START NAVIGATION */
nav {
  width: 100%;
  display: none;
  background: linear-gradient(25deg, #cbe8e9, #69d3f3);
  background-image: url(../images/11731.jpg);
  background-size: cover;
}

nav ul {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  list-style: none;
  
}

nav ul li a {
  text-decoration: none;
  color: #141414;
  line-height: 40px;
  transition: 0.3s ease-out;
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 800;

}

nav ul li a:hover {
  color: #0e0ae2;
}

.active {
  color: #141414;
}

/* end nav menu */

/* .portrait {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.portrait img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow-y: auto;
} */


.header--title-container {
  width: 88%;
  margin: 0 auto;
  text-align: center;
}

.header--title-container h1 {
  font-family: "designer";
  font-size: 2.2rem;
  line-height: 1;
  font-weight: 800;
  margin: 25px 0px 15px 0px;

}

.opcionMenu {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.menuButtons {
  font-size: 1.2rem;
  width: 70px;
  margin: 5px;
  margin-bottom: 5px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  padding: 5px;
  border-radius: 5px;
  background-color: rgba(27, 27, 27, 0.2);
  background-color: rgba(255, 255, 255, 0.664);
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

main{
  display:flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid rgb(182, 181, 179);
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.61);
  margin: 10px;
  /* width: 90%; */
  /* min-width: 250px; */
  max-width: 360px;
  font-family: 'IBM Plex Sans', sans-serif;
  /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

#square-content,
#triangle-content,
#circle-content {
  /* width: 90%; */
  position: absolute;
  /* max-width: 360px; */
}

.main-container--title {
  font-size: 1.7rem;
  padding: 10px;
  font-weight: 700;
}

.form-container--title {
  font-size: 1.5rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-container--card {
  display: flex;
  justify-content: space-between;
}

.main-container{
  max-width: 400px;
}

input[type="number"] {
  border: 2px solid rgb(231, 223, 207);
  border-radius: 10px;
  outline: none;
  background-color: inherit;
  color: rgb(14, 14, 14);
  font-size: 1.8rem;
  transition: 0.3s;
  text-align: center;
}

input[type="number"]:focus {
  border-color: rgb(30, 45, 255);
  box-shadow: 0 0 8px 0 rgb(30, 83, 255);
}


.form-container--left input {
  margin-top: 10px;
  width: 90px;
  padding: 3px;
  transition: 1s all;
  margin-bottom: 13px;
}

.form-container--result{
  margin-top: 8px;
  font-size: 1.6rem;
  line-height: 1.5;
  font-weight: bold;
}

.form-container--right button {
  padding: 3px;
  border-radius: 10px;
  font-weight: bold;
  line-height: 2;
  border: none;
  cursor: pointer;
  background-color: rgba(27, 27, 27, 0.2);
  background-color: rgba(255, 255, 255, 0.349);
}


.form-container--right {
  display: flex;
  flex-direction: column;
  font-size: 1.4rem;
}

.form-container--right button {
  position: relative;
  top: 15px;
  padding: 3px;
  margin: 3px;
  border-radius: 10px;
  font-weight: 800;
  width: 120px;
  font-size: 1.2rem;
  line-height: 2;
  border: none;
  cursor: pointer;
  background-color: rgba(27, 27, 27, 0.2);
  background-color: rgba(255, 255, 255, 0.349);
}

.form-container--square {
  width: 100px;
  height: 100px;
  margin-top: 40px;
  margin-bottom: 10px;
  border: 5px solid rgb(14, 130, 238);
  position: relative;
  left: calc(40% - 50px);
  text-align: center;
  transition: 1s all;
  font-size: 1.4rem;
}

.form-container--square .a {
  position: inherit;
  left: calc(55% - 48px);
  bottom: calc(30%);
}

.form-container--square .b {
  position: inherit;
  left: calc(100% - 20px);
  top: calc(20%);
}

.form-container--square .c {
  position: inherit;
  top: calc(70%);
  left: calc(55% - 48px);
}

.form-container--square .d {
  position: inherit;
  bottom: calc(20%);
  right: calc(100% - 20px);
}

/* end square */

.form-container--top{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 10px;
}

.form-container--top input{
  width: 90px;
  padding: 3px;
  transition: 1s all;
  margin-bottom: 13px;
  margin: 3px;
}


.form-container--sideRight {
  display: flex;
  flex-direction: column;
}

.form-container--sideRight button {
  display: flex;
  justify-content: center;
  position: relative;
  top: 10px;
  left: calc(75% - 55px);
  width: 120px;
  font-size: 1.2rem;
  padding: 3px;
  margin: 3px;
  border-radius: 10px;
  font-weight: 800;
  line-height: 2;
  border: none;
  cursor: pointer;
  background-color: rgba(27, 27, 27, 0.2);
  background-color: rgba(255, 255, 255, 0.349);
}

.form-container--sideLeft {
  position: absolute;
  margin-top: 5px;
  margin-left: 5px;
}

.return {
  background-image: url(../assets/angle-double-left-solid.svg);
  background-repeat: no-repeat;
  background-position: center;
  color: transparent;
}

.form-container--triangle {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid rgb(125, 158, 168);
  position: relative;
  left: calc(50% - 50px);
  margin-top: 15px;
  text-align: center;
  font-size: 1.4rem;
}

.form-container--triangle .a {
  position: inherit;
  left: calc(50% - 50px);
  bottom: calc(25% - 30px)
}

.form-container--triangle .b {
  position: inherit;
  right: calc(25% - 45px);
  bottom: calc(15% - 20px)
}

.form-container--triangle .c {
  position: inherit;
  bottom: calc(50% - 70px);
  left: calc(5% - 5px);
}

.form-container--triangleArea {
  width: 0;
  height: 0;
  border-bottom: 100px solid rgb(219, 105, 105);
  border-right: 100px solid transparent;
  position: relative;
  left: calc(50% - 50px);
  margin-top: 5px;
  text-align: center;
  font-size: 1.4rem;
}

.form-container--triangleArea .a {
  position: inherit;
  left: calc(50% - 55px);
  bottom: calc(25% - 45px);
}

.form-container--triangleArea .b {
  position: inherit;
  /* top: calc(55%); */
  right: calc(35% - 45px);
}

.form-container--triangleArea .c {
  position: inherit;
  bottom: calc(25% - 68px);
  right: calc(5% - 25px);
}

/* end triangle */

.form-container--cardCircle{
  display: flex;
  gap: 80px;
}

.form-container--leftCircle input{
  margin-top: 10px;
  width: 90px;
  padding: 3px;
  transition: 1s all;
  margin-bottom: 13px;
}

.form-container--rightCircle {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}

.form-container--rightCircle button{
  padding: 3px;
  border-radius: 10px;
  margin: 3px;
  line-height: 2;
  border: none;
  cursor: pointer;
  background-color: rgba(27, 27, 27, 0.2);
  background-color: rgba(255, 255, 255, 0.349);
  font-weight: 800;
  font-size: 1.2rem;
}

.circle-boxCircumferenceTwo{
  margin: 2px 10px ;
}

.circle {
  width: 100px;
  height: 100px;
  border: 3px solid green;
  border-radius: 100px;
  position: relative;
  top: 28px;
  left: calc(35% - 50px);
  margin-bottom: 15px;
  font-size: 1.5rem;
  text-align: center;
}

.circle .A {
  position: relative;
  top: calc(40% - 5px);
}

.circle .r {
  position: relative;
  top: calc(50% - 30px);
  left: calc(25% - 5px);
}

.circle .P {
  position: relative;
  bottom: calc(35% - 5px)
}

.banner {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.001);
  transition: all 0.3s ease;
  color: transparent;
  transition: transform .5s;
  position: relative;
  left: calc(44%);
  bottom: calc(5px);
  width: 30px;
  height: 30px;
  animation: banner 25s linear infinite forwards;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

@keyframes banner {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg)
  }
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  position: absolute;
  transition: opacity 0.5s ease 0.5;
  /* background-color: rgba(27, 27, 27, 0.2);
  background-color: rgba(255, 255, 255, 0.349); */
  transition: .3s all;
}

.modal-content {
  /* background-color: #fefefe; */
  /* position: absolute; */
  /* left: 0;
  right: 0; */
  margin: auto;
  padding: 5px;
  border: 2px solid rgba(231, 174, 174, 0.671);
  border-radius: 10px;
  margin-top: 20px;
  width: 90%;
  height: 90%;
  background: rgba(255, 255, 255, 0.959);
  
}

.close {
  position: absolute;
  top: 25px;
  right: 25px;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: rgb(245, 8, 8);
  color: rgb(235, 238, 232);
  border-radius: 50%;
  /* background-image: url(../images/close/error.svg); */
  color: transparent;
  border: transparent;
  cursor: pointer;
}

footer{
  /* width: 100%; */
  text-align: center;
  padding: 10px;
  font-size: 1.4rem;
  font-weight: 700;
}