.container-nav-menu{
  /* background-color: rgb(94, 93, 86); */
  background: linear-gradient(25deg, #4b2d7c, #0da7ef7c);
  height: 75px;
  width: 100%;
  display: flex;
  justify-content:space-between;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.nav-logo--container{
  position: relative;
  left: calc(50% - 50px);
  text-decoration: none;
}

.logo-text{
  font-size: 9rem;
  font-family: "vorname";
  text-decoration: none;
  cursor: pointer;
}

.nav-logo--container label a{
  text-decoration: none;
  color: whitesmoke
}

.nav-items{
  position: fixed;
  width: 100%;
  height: 0vh;
  top: 75px;
  background: #2f3640;
  /* opacity: .9; */
  float: right;
  text-align: center;
  transition: all .5s;
  list-style-type: none;
  text-decoration-style: none;
}

/* end nav */


.header--title-container h1 {
  font-family: "designer";
  font-size: 2.8rem;
  line-height: 1;
  font-weight: 800;
  margin: 45px 0px 35px 0px;
}

.menuButtons {
  font-size: 1.4rem;
  width: 90px;
  margin: 8px;
  margin-bottom: 15px;
  padding: 8px;
}

.main{
  display: flex;
}

#square-content,
#triangle-content,
#circle-content {
  position: absolute;
  width: 90%;
  min-width: 235px;
  max-width: 400px;
  margin: 0 auto;
}


input[type="number"] {
  border: 2px solid rgb(231, 223, 207);
  border-radius: 10px;
  outline: none;
  background-color: inherit;
  color: rgb(14, 14, 14);
  font-size: 2rem;
  padding: 3px;
  transition: 0.3s;
  text-align: center;
  margin-bottom: 13px;
}

.form-container--left input {
  margin-top: 13px;
  width: 100px;
  padding: 4px;
}

.main-container--title {
  font-size: 1.9rem;
}

.form-container--title {
  font-size: 1.8rem;
}

.form-container--result{
  margin-top: 15px;
  font-size: 1.8rem;
}

.form-container--right {
  font-size: 1.6rem;
}

.form-container--right button {
  position: relative;
  top: 15px;
  padding: 4px;
  margin: 4px;
  border-radius: 10px;
  font-weight: 800;
  width: 130px;
  font-size: 1.4rem;
}


.form-container--square {
  font-size: 1.5rem;
}

.form-container--square .a {
  position: inherit;
  left: calc(55% - 48px);
  bottom: calc(35%);
}

.form-container--square .b {
  position: inherit;
  left: calc(100% - 20px);
  top: calc(20%);
}

.form-container--square .c {
  position: inherit;
  top: calc(73%);
  left: calc(55% - 48px);
}

.form-container--square .d {
  position: inherit;
  bottom: calc(20%);
  right: calc(100% - 20px);
}

/* end square */

.form-container--top input{
  margin-top: 10px;
  width: 100px;
  padding: 4px;
  margin: 4px;
}

.form-container--sideRight button {
  position: relative;
  top: 18px;
  left: calc(75% - 55px);
  width: 122px;
  font-size: 1.4rem;
  padding: 5px;
  margin: 3px;
}

.form-container--triangle {
  margin-top: 25px;
  text-align: center;
  font-size: 1.5rem;
}

.form-container--triangleArea {
  position: relative;
  left: calc(40% - 50px);
  margin-top: 5px;
  text-align: center;
  font-size: 1.5rem;
}

/* end triangle */

.form-container--cardCircle{
  display: flex;
  gap: 100px;
}

.form-container--leftCircle input{
  margin-top: 10px;
  width: 100px;
  padding: 4px;
  transition: 1s all;
  margin-bottom: 13px;
}

.form-container--rightCircle {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}

.form-container--rightCircle button{
  padding: 4px;
  border-radius: 10px;
  width: 125px;
  margin: 4px;
  line-height: 2;
  border: none;
  cursor: pointer;
  background-color: rgba(27, 27, 27, 0.2);
  background-color: rgba(255, 255, 255, 0.349);
  font-weight: 800;
  font-size: 1.4rem;
}

.circle-boxCircumferenceTwo{
  margin: 2px 10px ;
}

.banner {
  position: relative;
  left: calc(43%);
  bottom: calc(5px);
  width: 40px;
  height: 40px;
}