header{
  width: 90%;
  margin: 0 auto;
  border-radius: 10px 0 10px 0px;
  position: fixed;
  top: 10px;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 2px;
}

.content {
  display: flex;
  flex-direction: row;
}

.logo {
  color: #141414;
  padding-left: 10px;
}

nav .nav-menu {
  display: flex;
  flex-direction: row;
  justify-content: end;
  height: auto;
  opacity: 1;
  z-index: 1;
  background-image: none;
}

nav .nav-menu li {
  padding-top: 0px;
  transition: all .5s;
  padding-right: 20px;
}

nav .navbar-toggle {
  display: none;
}

/* end nav */

main {
  padding-top: 70px;
}

.main--title-container {
  font-size: 2.4rem;
  /* margin: 11px 0; */
}

.menuButtons {
  font-size: 1.8rem;
  width: 100px;
  margin: 8px;
  padding: 8px;
}

.main-container{
  max-width: 400px;
  margin-top: 13px
}

.main-container--card {
  height: 430px;
}

input[type="number"] {
  border: 2px solid rgb(231, 223, 207);
  border-radius: 10px;
  background-color: inherit;
  font-size: 1.8rem;
  padding: 3px;
  transition: 0.3s;
  text-align: center;
  margin-bottom: 13px;
}

.form-container--left input {
  margin-top: 13px;
  width: 100px;
  padding: 4px;
}

.main-container--title {
  font-size: 1.7rem;
}

.form-container--title {
  font-size: 1.5rem;
}

.form-container--result{
  margin-top: 15px;
  font-size: 1.8rem;
}

.form-container--button {
  width: 130px;
  padding: 7px;
}

/* end square */
.form-container--top {
  width: 330px;
}

.form-container--top input{
  margin-top: 10px;
  width: 100px;
  /* padding: 4px; */
  margin: 4px;
}

.form-container--triangle {
  position: relative;
  top: 10px;
  left: calc(50% - 50px);
}

.form-container--triangleArea {
  position: relative;
  left: calc(40% - 50px);
  /* margin-top: 5px; */
  text-align: center;
  font-size: 1.5rem;
}

/* end triangle */

.modal-content {
  margin: auto;
  padding: 5px;
  border: 2px solid rgba(231, 174, 174, 0.671);
  /* border-radius: 10px; */
  /* margin-top: 8px; */
  width: 98%;
  height: 98%;
  background: rgba(255, 255, 255, 0.959);

}

.close {
  position: absolute;
  top: 5px;
  width: 20px;
  height: 20px;
  /* font-size: 1.5rem; */
} 

footer{
  width: 100%;
  text-align: center;
  padding: 13px;
  font-size: 1.6rem;
}