header{
  width: 80%;
  height: 60px;
  margin: 0 auto;
  border-radius: 20px;
  position: relative;
  top: 10px;
}

.content a{
  height: 60px;
  display: flex;
  justify-content: left;
  align-items: center;
  text-align: left;
}

.logo {
  color: #0b0c0c;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 90px;
  position: relative;
  left: 20px;
  /* bottom: 8px; */
}

.toggler {
  display: none;
}

nav {
  display: inline-block !important;
  position: relative;
  bottom: 60px;
  width: auto;
  float: right;
  background-color: transparent;
}

nav ul {
  display: flex;
  flex-direction: row;
}

nav ul li {
  /* display: inline-block; */
  margin-right: 25px;
  transition: all .5s;
}

.header--title-container {
  margin-top: 40px;
  text-align: center;
}

.header--title-container h1 {
  font-size: 2.6rem;
}

.header--title-container p {
  font-size: 2.1rem;
  margin: 20px 0px 30px 0px;
  font-weight: 700;
}