* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  /* Colors background */
  --bitcoin-orange: #F7931A;
  --soft-orange: #FFE9D5;
  --secondary-blue: #1A9AF7;
  --soft-blue: #E7F5FF;
  --warm-black: #201E1C;
  --black: #282623;
  --grey: #BABABA;
  --off-white: #FAF8F7;
  --just-white: #FFFFFF;
}

html {
  background-color: rgb(78, 76, 74);
  font-family: 'Poppins', sans-serif;
  background-image: url(../images/11731.jpg);
  background-size: auto;
  background-repeat: no-repeat;
  font-size: 62.5%;
  scroll-behavior: smooth;
  /* overflow-x: hidden; */
  width: 100%; 
  height: auto;

}

/*  menu nav */
@font-face {
  font-family: "designer";
  src: url("../fonts/designer/DESIGNER.otf") format('truetype');
}

@font-face {
  font-family: "vorname";
  src: url("../fonts/vorname/Vorname.otf") format('truetype');
}

/* START MENU BAR */

header {
  width: 100%;
  background-image: url(../images/11731.jpg);
  background-size: cover;
  position: fixed;
  z-index: 1;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
a{
  text-decoration: none;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  color: #111111;
  text-transform: uppercase;
  text-decoration: none;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 3rem;
  font-weight: 900;
}

.logo:hover {
  cursor: pointer;
}


nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  min-width: 320px;
}

nav .nav-menu {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  list-style: none;
  padding: 0;
  z-index: 1;
  opacity: 0;
  display: none;
  background-image: url(../images/11731.jpg);
  background-size: cover;
  overflow-y:auto;

}
nav .nav-menu li {
  padding-top: 50px;
}
nav .nav-menu li a {
  width: 100%;
  text-decoration: none;
  color: #141414;
  font-size: 18px;
  line-height: 25px;
  transition: 0.3s ease-out;
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 600;
}

nav .nav-menu li a:hover {
  color: #0e0ae2;
  cursor: pointer;
}

.navbar-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  border: transparent;
  background: transparent;
  position: absolute;
  top: 2px;
  right: 16px;
  border-radius: 4px;
  width: 30px;
  height: 30px;
  z-index: 1;
  transition: all .5s ease-in-out;
  cursor: pointer;
  transform: scaleX(-1);
}

.menu-btn__burger {
  width: 23px;
  height: 2px;
  background: #000;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: all .5s ease-in-out;
}

.menu-btn__burger::before,
.menu-btn__burger::after {
  content: '';
  position: absolute;
  width: 23px;
  height: 2px;
  background: #000;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: all .5s ease-in-out;
}

.menu-btn__burger::before {
  transform: translateY(-7px);
}

.menu-btn__burger::after {
  transform: translateY(7PX);
}

/* animation */

.navbar-toggle.open .menu-btn__burger {
  transform: translateX(-10px);
  background: transparent;
  box-shadow: none;
}

.navbar-toggle.open .menu-btn__burger::before {
  transform: rotate(45deg) translate(7px, -7px);
}
.navbar-toggle.open .menu-btn__burger::after {
  transform: rotate(-45deg) translate(7px, 7px);
}


@keyframes showMenu {
  from {opacity: 0;}
  to {opacity: 1}
}

header nav .nav-menu.active {
  display: flex;
  animation: showMenu 350ms ease-in-out both;
}

main {
  padding-top: 50px;
  margin-bottom: 164px;
  /* padding: 50px 13px; */
}

.header--title-container {
  /* width: 600px; */
  /* margin: 0 auto;  */
  font-weight: 600;
  text-align: center;
}

.header--title-container {
  font-size: 1.6rem;
  font-weight: 800;
  margin-bottom: 17px;
}

/* #product-content {display: none;}  */
#product-content1 {
  display: none;
  /* position: absolute;
  left: 0;
  right: 0; */
  margin: auto;
  max-width: 360px;
  min-width: 310px;
}



/* .pro_content {
  margin-bottom: 90px;
  border-top: 1px solid red;
} */

.main-container {
  display: grid;
  grid-template-columns: repeat(1, minmax(310px, 370px));
  place-content: center;
  padding: 0px 12px;
  margin: 0 auto;
  max-width: 360px;
  min-width: 310px;
  /* border: 1px solid red; */
}

.main-products {
  /* border: 1px solid blue; */
  border-radius: 6px;
  background-color: rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.61);
  padding: 9px;
  font-family: 'IBM Plex Sans', sans-serif;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: 0.3s;
  position: relative;
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; */
}


.main-products h2 {
  font-size: 1.6rem;
  margin-bottom: 8px;
  font-weight: 500;
}

.main-products__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-products__container img {
  width: 150px;
  height: 120px;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-top: 15px; */
}

input[type="number"] {
  border: 2px solid #e9fdf9; 
  /* border: 2px solid rgb(231, 223, 207); */
  border-radius: 10px;
  outline: none;
  background-color: inherit;
  color: rgb(14, 14, 14);
  font-size: 1.8rem;
  font-weight: bold;
  padding: 3px;
  transition: .3s all;
}

input[type="number"]:focus {
  border-color: rgb(30, 45, 255);
  box-shadow: 0 0 8px 0 rgb(30, 83, 255);
}

/* input */
.form-container .inputBox {
  position: relative;
  left: calc(25% - 100px);

  height: 20px;
  margin-bottom: 15px;
}

/* .form-container .inputBox:last-child {
  margin-bottom: 0;
} */

.form-container .inputBox input {
  position: absolute;
  top: 0;
  left: 0;
  width: 120px;
  background: transparent;
  outline: none;
  text-align: center;
}

.form-container .inputBox span {
  position: absolute;
  top: 1px;
  left: 1px;
  padding: 6px;
  display: inline-block;
  font-size: 1.4rem;
  color: rgb(108, 105, 110);
  font-weight: bold;
  pointer-events: none;
  text-align: right;
  transition: 0.5s;
}

.form-container .inputBox input:focus~span,
.form-container .inputBox input:valid~span {
  transform: translateX(-89px) translateY(0px);
  /* transform: translateY(-15px); */
  text-align: right;
  font-size: 1.4rem;
  color: rgb(58, 59, 59);
  background-color: transparent;
}

.form-container--couponsButton{
  display: flex;
  gap: 10px;
}

.form-container--buttonCoupons{
  border-radius: 10px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  padding: 5px;
  width: 99px;
  font-size: 1.4rem;
  margin: 5px 0px 15px 0px;
  border: 1px solid #e9fdf9; 
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
  /* background: inherit; */
}

.form-container--button_clear {
  display: block;
  border-radius: 10px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  width: 80px;
  font-size: 1.4rem;
  letter-spacing: 1.4px;
  padding: 6px;
  padding-bottom: 8px;
  margin: 5px 0px 15px 0px;
  border: 1px solid #e9fdf9; 
  /* background-color: #fad8d896; */
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
  color: #464343;
}
.form-container--button_clear:hover {
  /* background-color: #f8979796; */
  background-color: #fad8d896;
}

.form-container--button {
  display: block;
  border-radius: 10px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  width: 90px;
  font-size: 1.4rem;
  padding: 6px;
  letter-spacing: 1.4px;
  padding-bottom: 8px;
  margin: 5px 0px 15px 0px;
  border: 1px solid #e9fdf9; 
  /* background-color: #cdf8da96; */
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
  color: #464343;
}
.form-container--button:hover{
  background-color: #cdf8da96;
  /* background-color: #71e995ee; */
}

.totalPrice {
  border: 2px solid rgb(238, 224, 224);
  text-align: center;
  width: 170px;
  height: 60px;
  border-radius: 8px;
  margin: 10px 0px 25px 0px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.totalPrice span {
  font-size: 1.4rem;
  padding: 2px;
  border-radius: 5px;
  position: relative;
  bottom: 10px;
  background-color: rgba(255, 255, 255, 0.61);
}

.totalPrice p {
  text-align: center;
  font-size: 2rem;
  position: relative;
  top: 3px;
  font-weight: bold;
}


/* la parte de cupones de producto */

input[type="text"] {
  /* border: 2px solid rgb(231, 223, 207); */
  border: 2px solid #e9fdf9; 
  border-radius: 10px;
  outline: none;
  /* background-color: inherit; */
  color: rgb(14, 14, 14);
  font-size: 1.5rem;
  font-weight: bold;
  transition: .3s all;
}

input[type="text"]:focus {
  border-color: rgb(30, 45, 255);
  box-shadow: 0 0 8px 0 rgb(30, 83, 255);
}

/* side of coupons */
.form-container__coupons {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  margin: 5px 0px 12px 0px;
}

.form-container__coupons select {
  border: none;
  font-size: 1.4rem;
  border-radius: 8px;
  border: 2px solid #dbe0df; 
  padding: 3px;
}

/* input coupons */
.form-container__coupons--input {
  position: relative;
}
.form-container__coupons--input input{
  width: 100px;
  background: transparent;
  outline: none;
  text-align: center;
  margin-left: 10px;
  padding: 4px;
  /* height: 25px; */
}


.form-container--btnShowCoupons{
  border: none;
  background: transparent;
  cursor: pointer;
  background-image: url(../assets/edit-11-24.png);
  background-repeat: no-repeat;
  font-weight: bold;
  display: inline-block;
  position: absolute;
  top: 2px;
  width: 27px;
  height: 27px;
  margin-left: 6px;
}
.form-container--btnShowCoupons:hover{
  transform: scale(1.1);
  transition: 1s linear 3s ease-in-out;
}


/* card container product */

.card-container-product {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.card-container-product__item {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 230px;
  height: 270px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card-container-product__item--p1 {
  display: flex;
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
}

.card-container-product__item--container-image img {
  width: 160px;
  height: 180px;
  position: relative;
  right: calc(10% - 5px);
}

.card-container-product__item--p2 {
  display: flex;
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
  margin-top: 15px;
}

.card-container-product__item h4 {
  font-size: 1.8rem;
  margin-top: 5px;
}

.saving_amount {
  font-size: 1.6rem;
  position: relative;
  top: 10px;
  margin: 13px 0;
}

.card-container-product__item--p1 h4:nth-child(2) {
  color: #f80b0b;
  font-size: 2rem;
}

.card-container-product__item--p2 h4:nth-child(2) {
  color: #2F5DA8;
  font-weight: bold;
}

.card-container-product__item--p2 h4:nth-child(1) {
  color: #919191;
}

.close {
  position: absolute;
  top: 5px;
  right: 5px;
  /* display: block; */
  /* z-index: 1; */
  width: 20px;
  height: 20px;
  background-color: rgb(245, 8, 8);
  color: #fff;
  text-align: center;
  font-size: 1.6rem;
  padding-left: 1px;
  border-radius: 50%;
  cursor: pointer;
}



.modal {
  display: none;
  position: fixed;
  /* z-index: 1; */
  left: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  position: absolute;
  transition: opacity 0.5s ease 0.5;
  transition: .3s all;
}

.modal-content {
  /* background-color: #fefefe; */
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  /* padding: 5px; */
  border: 2px solid rgba(236, 233, 233, 0.671);
  border-radius: 10px;
  margin-top: 60px;
  width: 70%;
  height: 20%;
  /* background: rgba(255, 255, 255, 0.959); */
  background: rgb(203, 232, 248);
  border: 1px solid rgb(247, 242, 223);
}

.modal-content--title{
  padding: 5px;
  font-size: 1.6rem;
  margin-bottom: 3px;
}
.modal-content--coupons{
  text-align: center;
  font-size: 1.8rem;
  color: rgb(56, 56, 230);
  font-weight: 700;
}

.closeBanner {
  position: absolute;
  top: 3px;
  right: 3px;
  display: inline-block;
  width: 15px;
  height: 15px;
  background-color: rgb(245, 8, 8);
  color: #fff;
  text-align: center;
  padding-left: 1px;
  font-size: 1.2rem;
  border-radius: 50%;
  cursor: pointer;
}



footer {
  width: 100%;
  text-align: center;
  padding: 10px;
  font-size: 1.4rem;
  font-weight: bold;

}
/* 649 */
@media screen  and (min-height: 664px) {
  html, body {
    height: 100%;
  }
  footer {
    position: absolute;
    bottom: 0;
  }
}
