/* html {
  background-color: #2F5DA8;
} */

header {
  width: 90%;
  border-radius: 10px 0px 10px 0px;
  position: fixed;
  left: 0;
  right: 0;
  top: 10px;
  margin: auto;
  padding: 2px;

}

.content {
  display: flex;
  flex-direction: row;
}

header .logo {
  padding-left: 10px;
  color: #000;
}

nav .nav-menu {
  /* display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  height: 2vh;
  opacity: 1;
  z-index: 1;
  background-image: none; */
  display: flex;
  flex-direction: row;
  justify-content: end;
  height: auto;
  opacity: 1;
  z-index: 1;
  background-image: none;
}

nav .nav-menu li {
  padding-top: 0px;
  padding-right: 20px;
  transition: all .5s;
}

nav .navbar-toggle {
  display: none;
}


/* end nav menu ---------------------*/


main {
  padding-top: 60px;
}

.header--title-container {
  font-size: 1.8rem;
  width: 438px;
  position: relative;
  right: 28px;
  /* grid-column: 1 / 2; */
  /* width: 600px; */
}

.header--title-container p {
  font-size: 1.9rem;
  margin: 18px 0px 27px 0px;
  font-weight: 700;
}


.main-container--card .card-icon {
  width: 30px;
  height: 30px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.main-container--icons {
  display: flex;
  flex-direction: row;
  float: right;
  gap: 5px;
}

.main-products {
  width: 375px;
}


.main-products h2 {
  font-size: 1.6rem;
}

.main-products__container img {
  width: 160px;
  height: 130px;
  position: relative;
  right: 3%;
}

.totalPrice span {
  font-size: 1.5rem;
  padding: 3px;
  border-radius: 5px;
  position: relative;
  bottom: 11px;
  background-color: rgba(255, 255, 255, 0.61);
}

.totalPrice p {
  text-align: center;
  font-size: 2rem;
  position: relative;
  top: 3px;
  font-weight: bold;
}

/*  product container ----------------- */
.form-container .inputBox input {
  width: 115px;
}

.form-container .form-container--buttonCoupons {
  padding: 8px;
  width: 120px;
  font-size: 1.6rem;
}


.form-container__coupons {
  font-size: 1.6rem;
  /* margin: 22px 0px 10px 0px; */
}

.form-container__coupons select {
  font-size: 1.4rem;
  border-radius: 8px;
  padding: 3px;
}

.card-container-product__item {
  width: 270px;
  height: 290px;
}

.form-container .buttonCoupons {
  padding: 6px;
  width: 120px;
  font-size: 1.4rem;
}

.card-container-product__item--p1 {
  position: relative;
  top: 13px;
}

.card-container-product__item--container-image img {
  width: 190px;
  height: 220px;
  position: relative;
  bottom: 8px;
}

/* nox product */
.card-container-product__item--p2 {
  position: relative;
  bottom: 13px;
}

.card-container-product__item h4 {
  font-size: 2rem;
}

.card-container-product p {
  font-size: 1.6rem;
}

.card-container-product__item--p1 h4:nth-child(2) {
  color: #f80b0b;
  font-size: 2.2rem;
}

.card-container-product__item--p2 h4:nth-child(2) {
  color: #2F5DA8;
  font-weight: bold;
}

.card-container-product__item--p2 h4:nth-child(1) {
  color: #919191;
}

.close {
  font-size: 1.6rem;
}

.closeBanner {
  font-size: 1.2rem;
}

footer {
  width: 100%;
  text-align: center;
  padding: 13px;
  font-size: 1.6rem;
  font-weight: bold;
}

