header{
  width: 90%;
  height: 55px;
  margin: 0 auto;
  border-radius: 20px;
  position: relative;
  top: 10px;
}

.content a{
  height: 55px;

  display: flex;
  justify-content: left;
  align-items: center;
  text-align: left;
}

.logo {
  color: #141414;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 5rem;
  /* font-size: 80px; */
  position: relative;
  left: 20px;
}

.toggler {
  display: none;
}

nav {
  display: inline-block !important;
  position: relative;
  bottom: 55px;
  width: auto;
  float: right;
  background-color: transparent;
  border-radius: 20px;
  /* background: linear-gradient(25deg, #cbe8e9, #69d3f3); */
  background-image: url(../images/0008.jpg);
  background-size: cover;
}

nav ul {
  display: flex;
  flex-direction: row;
}

nav ul li {
  /* display: inline-block; */
  padding-right: 20px;
  transition: all .5s;
}

/* end nav menu ---------------------*/

.header--title-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  }

  .header--title-container h1 {
    width: 80%;
    font-size: 2.8rem;
  }
  
  .header--title-container p {
    font-size: 1.9rem;
    margin: 18px 0px 27px 0px;
    font-weight: 700;
  }


.main-container--card .card-icon {
  width: 30px;
  height: 30px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.main-container--icons{
  display: flex;
  flex-direction: row;
  float: right;
  gap: 5px;
}

  .main-products {
    border: 2px solid rgb(224, 221, 214);
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.61);
    width: 90%;
    min-width: 235px;
    max-width: 400px;
    margin: 0 auto;
    padding: 15px;
    font-family: 'IBM Plex Sans', sans-serif;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: 0.3s;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
  }
  
  
  .main-products h2 {
    font-size: 1.9rem;
  }

  .main-products__container img{
    width: 160px;
    height: 130px;
    position: relative;
    right: 3%;
  }
  
input[type="number"] {
  font-size: 1.9rem;
  font-weight: bold;
  padding: 4px;
  transition: .3s all;
}

.form-container .inputBox span{
  font-size: 1.8rem;
}

.form-container .inputBox input:focus ~ span,
.form-container .inputBox input:valid ~ span{
  transform: translateX(-98px) translateY(3px);
  /* transform: translateY(-15px); */
  text-align: right;
  font-size: 1.6rem;
  color: rgb(58, 59, 59);
  background-color: transparent;
}

.form-container .buttonBox {
  padding: 6px;
  width: 90px;
  font-size: 1.5rem;
  margin: 5px 0px 15px 0px;
}

.totalPrice {
  height: 64px;
  margin: 10px 0px 30px 0px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.totalPrice span{
  font-size: 1.7rem;
  padding: 3px;
  border-radius: 5px;
  position: relative;
  bottom: 11px;
  background-color: rgba(255, 255, 255, 0.61);
}

.totalPrice p{
  text-align: center;
  font-size: 2.2rem;
  position: relative;
  top: 3px;
  font-weight: bold;
}

/*  product container ----------------- */
.form-container .buttonCoupons{
  padding: 11px;
  max-width: 73%;
  font-size: 1.6rem;
}


.form-container__coupons {
  font-size: 1.9rem;
  margin: 22px 0px 10px 0px;
}

.form-container__coupons select {
  font-size: 1.6rem;
  border-radius: 8px;
  padding: 3px;
}

.card-container-product__item {
  width: 270px;
  height: 290px;
}

.form-container .buttonCoupons{
  padding: 6px;
  width: 120px;
  font-size: 1.6rem;
}

.card-container-product__item--p1 {
  position: relative;
  top: 13px;
}

.card-container-product__item--container-image img {
  width: 190px;
  height: 220px;
  position: relative;
  bottom: 8px;
}

/* nox product */
.card-container-product__item--p2 {
  position: relative;
  bottom: 13px;
}

.card-container-product__item h4 {
  font-size: 2rem;
}

.card-container-product p {
  font-size: 1.8rem;
}

.card-container-product__item--p1 h4:nth-child(2){
  color: #f80b0b;
  font-size: 2.4rem;
}

.card-container-product__item--p2 h4:nth-child(2) {
  color: #2F5DA8;
  font-weight: bold;
}

.card-container-product__item--p2 h4:nth-child(1) {
  color: #919191;
}

footer{
  width: 100%;
  text-align: center;
  padding: 13px;
  font-size: 1.8rem;
  font-weight: bold;  
}